./backend/AuthServer/src/main/resources/application.yml
backend/AuthServer/src/main/resources/application-oauth.yml
backend/AuthServer/src/main/resources/bootstrap.yml

backend/EscapeServer/src/main/resources/application.yml
backend/EscapeServer/src/main/resources/application-aws.yml
backend/EscapeServer/src/main/resources/application-credentials.yml

backend/ConfigServer/src/main/resources/application.yml
backend/ConfigServer/src/main/resources/bootstrap.yml

backend/GateWayServer/src/main/resources/application.yml

backend/EurekaServer/src/main/resources/application.yml